{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap-icons-1.11.3/font/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/sweetalert2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">

    {% set icon_subfolder = '' %}

    {% if icon_prefix is not null %}
        {% set icon_subfolder = icon_prefix ~ '/' %}
    {% endif %}

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('_icons/' ~ icon_subfolder ~ 'favicon.ico') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('_icons/' ~ icon_subfolder ~ 'favicon.ico') }}">
    <link rel="icon" type="image/gif" href="{{ asset('_icons/' ~ icon_subfolder ~ 'favicon.gif') }}">
    <link rel="icon" type="image/png" href="{{ asset('_icons/' ~ icon_subfolder ~ 'favicon.png') }}">

    {# favicon-generator.org #}
    <link rel="apple-touch-icon" sizes="57x57" href= "{{ asset('_icons/' ~ icon_subfolder ~ 'apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href= "{{ asset('_icons/' ~ icon_subfolder ~ 'apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href= "{{ asset('_icons/' ~ icon_subfolder ~ 'apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href= "{{ asset('_icons/' ~ icon_subfolder ~ 'apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href= "{{ asset('_icons/' ~ icon_subfolder ~ 'apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href= "{{ asset('_icons/' ~ icon_subfolder ~ 'apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href= "{{ asset('_icons/' ~ icon_subfolder ~ 'apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href= "{{ asset('_icons/' ~ icon_subfolder ~ 'apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href= "{{ asset('_icons/' ~ icon_subfolder ~ 'apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('_icons/' ~ icon_subfolder ~ 'android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"  href="{{ asset('_icons/' ~ icon_subfolder ~ 'favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"  href="{{ asset('_icons/' ~ icon_subfolder ~ 'favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"  href="{{ asset('_icons/' ~ icon_subfolder ~ 'favicon-16x16.png') }}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('_icons/' ~ icon_subfolder ~ 'ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/signature_pad.umd.min.js') }}"></script> {# szimek #}
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/sweetalert2.all.min.js') }}"></script>
    <script src="{{ asset('assets/js/app.js') }}" type="module"></script>

{% endblock %}

{% block body %}
    <div class="container-fluid col-xl-6 col-lg-10 col-12 col-offset-xl-3 col-offset-lg-1">
        <h1 class="text-center"> BACKJE Konfiguration </h1>
    </div>
    <div class="container-fluid col-xl-6 col-lg-10 col-12 col-offset-xl-3 col-offset-lg-1 mt-2 mb-1">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb fs-5">
                        <li class="breadcrumb-item"><a href="{{ path('index') }}"><span><i class="bi bi-house"></i></span></a></li>
                        {% block navbar %}
                        {% endblock %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="container-fluid col-xl-6 col-lg-10 col-12 col-offset-xl-3 col-offset-lg-1" id="layoutContainer">
        {% block content %}
        
        {% endblock %}
    </div>

    <!-- username floating field -->
    <div id="floating-user-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <a class="float-start" href="javascript:history.back()">
                        <span class="bi bi-arrow-left"></span>
                    </a>
                </div>

                <div class="col">
                    <div class="text-center">
                        © 2024 Copyright:
                        <aspan class="text-dark">{{ webapp_company_title }}</span>
                    </div>
                </div>

                <div class="col-2 text-end">
                    {% if app.user is not null %}
                    <div >
                        <a class="me-2" href="{{ path('erpag_security_logout') }}">Logout <i class="bi bi-power"></i></a>
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <!---->
{% endblock %}